/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Manrope';
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}


html {
    height: 100%;
}

body {
    min-height: 100vh;
}

/* main {
    background-color: hsl(218, 23%, 16%);
} */

/* .card {
    background-color: hsl(217, 19%, 24%);
    margin-top: 5rem;
} */

/* .attribution {
    color: hsl(193, 38%, 86%);
} */

.attribution a {    
    color: #00FFA0; 
}