@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: "Manrope", "Segoe UI", Roboto, Helvetica, system-ui, sans-serif;
    min-height: 100vh;
    margin: 0;
}

button {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 283px;
  background-image: url("../images/icon-dice.svg");
  border: none;
  background-color: #00FFA0;
  padding: 1.8rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  transition: 
    transform .08s ease-out,
    box-shadow .15s ease
    background-color .15s ease;

}

button:active {
  transform: scale(.92);
  background-color: #25ffaf;
  box-shadow: 0 0 1.8rem 0.001rem #37f1ad;
}

button:focus-visible {
  outline: 2px solid #37f1ad;
  outline-offset: 4px;
}

button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  opacity: .6;
}

.attribution a {    
    color: #00FFA0; 
}

/* Hover effect ONLY on devices that actually support hover */
@media (hover: hover) and (pointer: fine) {

  button:hover {
    background-color: #25ffaf;
    box-shadow: 0 0 1.8rem 0.001rem #37f1ad;
  }

  button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    opacity: .6;
  }

}

@media (min-width: 48rem) {

  .card{
    margin-top: 14rem;
    height: 20.7rem;
    width: 34rem;
    border-radius: .9rem;
  }

  .advice-id {
    margin-top: -3.83rem;
    font-size: .8rem;
    letter-spacing: .25rem;
    font-weight: 800;
  }

  .advice {
    font-size: 1.7rem;
  }

  .pattern-divider {
    bottom: 0;
    top: 31px;
  }

  button {
    top: 299px;
  }

}