@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* @font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: "Manrope";
    /* font-weight: 800; */
    min-height: 100vh;
    margin: 0;
    /* padding-bottom: 1rem; */
}

.attribution a {    
    color: #00FFA0; 
}

/* @media (max-width: 18.75rem) {

  .card {
    width: ;
  }
} */