@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/Fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: "Manrope", "Segoe UI", Roboto, Helvetica, system-ui, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.loading {
  /* opacity: 0; */
}

.button-container:hover {
    /* box-shadow: 0 0 1.8rem .001rem #37f1ad; */
    /* background-color: #25ffaf; */
}

button {
  /* outline: 1rem solid green;
  border-radius: 50%; */
  /* z-index: 100; */
  height: 1.5rem;
  /* height: auto; */
  width: 1.5rem;
  position: absolute;
  top: 283px;
  /* top: 80%; */
  /* bottom: 0; */
  /* display: flex; */
  background-image: url("../images/icon-dice.svg");
  /* border: 1rem solid #37f1ad; */
  border: none;
  background-color: #00FFA0;
  padding: 1.8rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  transition: 
    transform .08s ease-out,
    box-shadow .15s ease
    background-color .15s ease;

}

button::before {
  /* content: url("/images/icon-dice.svg"); */
  /* content: ""; */
  width: 5rem;
  height: 1.5rem;
  border: 1.3rem solid #00FFA0;
  /* z-index: 0; */
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  right: 30px;
  /* margin: 0 auto; */
  /* background-image: url("/images/icon-dice.svg"); */
  /* color: green; */
  background-color: #00FFA0;
}

button:hover {
  box-shadow: 0 0 1.8rem .001rem #37f1ad;
  background-color: #25ffaf;
}

button:active {
  transform: scale(.92);
  /* transition: transform .1s ease; */
  /* translate: 50%; */
}

button:active {
  /* box-shadow: none; */
  /* transform: translateY(2px); */
}

button:focus-visible {
  outline: 2px solid #37f1ad;
  outline-offset: 4px;
}

button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  opacity: .6;
}

.attribution a {    
    color: #00FFA0; 
}

@media (min-width: 48rem) {

  .card{
    margin-top: 14rem;
    height: 20.7rem;
    width: 34rem;
    border-radius: .9rem;
  }

  .advice-id {
    margin-top: -3.83rem;
    font-size: .8rem;
    letter-spacing: .25rem;
    font-weight: 800;
  }

  .advice {
    font-size: 1.7rem;
  }

  .pattern-divider {
    bottom: 0;
    top: 31px;
  }

  .button-container{
    top: 299px;
  }

  /* .button-container:hover {
    box-shadow: 0 0 1.8rem .001rem #37f1ad;
    background-color: #25ffaf;
  } */

}